{% extends 'layout.html.twig'%}

{% block body %}

	<form action="" method="POST">

		<label for="marque">Marque</label>
		<input name="marque" id="marque" type="text">

		<input type="submit" value="Ajouter">
	</form>

{% endblock %}

