{% extends 'layout.html.twig'%}

{% block body %}
	<h1>Liste des véhicules</h1>
	<table>

		<thead>
			<tr>
				<th>Marque</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			{% for marque in marques %}
				<tr>

					<td>{{ marque.nomMarque }}</td>

					<td>
						<a href="">Supprimer</a>
					</td>
				</tr>
				
			{% endfor %}
		</tbody>
	</table>
{% endblock %}

